.btn-submit-login-sign-up {
  background: none;
  border: none;
  font-size: 13px;
}

.email-constructions {
  background: none;
  border: none;
}
.default-orange {
  color: #c59c71 !important;
}

.facebook-icon {
  color: #2d3032;
  font-size: 30px !important;
  margin-bottom: 20px;
}
